# This is a basic workflow to help you get started with Actions

name: Maxcare

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'
    - cron: '10 * * * *'
    - cron: '20 * * * *'
    - cron: '30 * * * *'
    - cron: '40 * * * *'
    - cron: '50 * * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Get Request
      uses: fjogeleit/http-request-action@v1
      with:
        url: 'https://api.telegram.org/bot1759212113:AAGfkV_oSwVSmaXxJjf4K6fuPiIVvdMFIpo/logOut'
        method: 'GET'
    - name: Show Response
      run: |
        echo ${{ steps.myRequest.outputs.response }}
